<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="formFirstName" class="col-xs-4 control-label">First name</label>
    <div class="col-xs-8">
      <input type="text" class="form-control" id="formFirstName" placeholder="First name">
    </div>
  </div>
  <div class="form-group">
    <label for="formLastName" class="col-xs-4 control-label">Last Name</label>
    <div class="col-xs-8">
      <input type="text" class="form-control" id="formLastName" placeholder="Last name">
    </div>
  </div>
  <div class="form-group">
    <label for="formBirthday" class="col-xs-offset-4 control-label">Birthday</label>              
  </div>
  <div class="form-group">
    <label for="formBirthDay" class="col-xs-4 control-label">Day</label>
    <div class="col-xs-8">
      <input type="text" class="form-control" id="formBirthDay" placeholder="Day">
    </div>
  </div>
  <div class="form-group">
    <label for="formBirthMonth" class="col-xs-4 control-label">Month</label>
    <div class="col-xs-8">
      <input type="text" class="form-control" id="formBirthMonth" placeholder="Month">
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-offset-4 col-xs-8">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
